﻿/*
    file:            app.less
    author(s):       mike kyffin
    build target:    app.css
    
    Copyright (c) 2013-2014 Maps, Data and Government Information Center (MaDGIC) at Trent University
    http://www.trentu.ca/library/madgic/
    Now featuring super-verbose commenting for internal use!    
    */

@main-font: "Istok Web", Helvetica, sans-serif; /* frutiger-esque font via google web fonts*/
@main-font-base-size: 14px; /* base font size, in px. reference for em. */
@med-blue: #5F89AA; /* trent blue from trentu.ca/library border - the other blue is #4C748E */
@dark: #362B36; /* THUNDER!!! http://chir.ag/projects/name-that-color/#362B36 */
@light-grey: #FEFEFE;
@dark-grey: #DDDDDD;
@dark-green: #004123; /* trent blue from trentu.ca/library border */
@noscript-text: #222222;
@error: #FF3333;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: @main-font;
}

.noscript div {
    color: @noscript-text;
    height: 100%;
    width: 600px;
    margin: 0 auto;
}

.display {
    display: none;
    height: 100%;
    width: 100%;
}

#bc {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#top {
    height: 64px;
    z-index: 999;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: @med-blue;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#map {
    margin: 0;
    padding: 0;
}

#left {
    margin: 0;
    padding: 0;
    width: 0px;
}

#logo {
    cursor: pointer;
    float: left;
    width: 200px;
}

.gradient-bg {
    background-color: @light-grey; /* fallback/image non-cover color */
    background-image: url(); /* fallback image */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 50%, from(@light-grey 50%), to(@med-blue)); /* Safari 4+, Chrome 1-9 */
    background-image: -webkit-linear-gradient(left, @light-grey 50%, @med-blue); /* Safari 5.1+, Mobile Safari, Chrome 10+ */
    background-image: -moz-linear-gradient(left, @light-grey 50%, @med-blue); /* Firefox 3.6+ */
    background-image: -ms-linear-gradient(left, @light-grey 50%, @med-blue); /* IE 10+ */
    background-image: -o-linear-gradient(left, @light-grey 50%, @med-blue); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=@light-grey, endColorstr=@med-blue);
}

#dialog-wrapper {
    display: none;
    z-index: 99;
    background-color: @med-blue;
    position: absolute;
    height: 100%;
    opacity: 0.95;
}

#dialog-content {
    background-color: @dark;
    border-bottom: 1px solid @med-blue;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
    margin: 6px;
    padding: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: @light-grey;
}

.app-title {
    position: relative;
    top: 18px;
    color: @light-grey;
}

.dialog-subdialog {
    display: none;
}

.dialog-subdialog-title {
    float: left;
}

.dialog-subdialog-buttons {
    float: right;
}

.dialog-content-options {
    text-align: center;
}

.dialog-content-label {
    margin: 1em;
}

.widget {
}

    .widget.widget-toolbar {
    }

    .widget.widget-icon {
        margin-right: 2px;
        margin-left: 2px;
        color: @light-grey;
        display: inline-block;
        vertical-align: middle;
    }

.widget-icon-action {
    cursor: pointer;
}

.widget-icon-right {
    float: right;
}

.widget-icon-left {
    float: left;
}

.metadata-view {
    padding: 0;
}

.metadata-view .is-georeferenced {
    cursor: pointer;
}

.metadata-view a {
    color: @light-grey;
}

.metadata-view table {
    width: 100%;
}

.metadata-view table td {
    border-bottom: 1px solid @light-grey;
}

.metadata-view-collection {
}

.metadata-view.metadata-view-show {
    display: block;
}

.metadata-view.metadata-view-hide {
    display: none;
}

.metadata-view-indent-elem {
    padding: 0 0 0 3em;
}

.metadata-view-icon-elem {
    padding: 0 0.5em;
}

.legend {
    padding: 6px;
    border-bottom: 1px solid @light-grey;
}

    .legend .legend-title {
        text-align: center;
        padding-bottom: 0.2em;
    }

    .legend ul {
        list-style: none;
    }

.knob-wrap {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid @light-grey;
}

    .knob-wrap input {
        color: @med-blue !important;
    }

    .knob-wrap .knob-label {
        padding-bottom: 0.2em;
    }

.links {
    padding: 6px;
    text-align: center;
}

    .links a {
        color: @light-grey;
    }

        .links a:hover {
            color: @light-grey;
        }

        .links a:visited {
            color: @light-grey;
        }

    .links img {
        border-radius: 5px;
    }

.links-item {
    padding: inherit;
}

.error {
    color: @error;
}

/* spinny loader thingy */
.loader {
    width: 200px;
    text-align: center;
    width: 200px;
    text-align: center;
    background: @dark;
    color: @light-grey;
    font-size: 14px;
    z-index: 999;
    top: 30%;
    left: 50%;
    position: fixed;
    margin-left: -112px;
    opacity: 0.85;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset, 0 0 20px rgba(0, 0, 0, 0.2) inset;
    padding: 6px;
}

.menu-icon {
    color: @light-grey;
    line-height: 64px;
    cursor: pointer;
    padding: 0 9px 0 9px;
}


.menu-label {
    float: left;
    color: @light-grey;
    font-size: 15px;
    padding: 0 3px;
    cursor: pointer;
    border-radius: 5px;
    line-height: 64px;
}

    .menu-label span {
        line-height: 12px;
        margin: 0 3px 0 3px;
        border-radius: 5px;
        padding: 2px 5px;
    }

.menu-label-current {
    background-color: @light-grey;
    color: @dark;
    text-shadow: none;
}

.menu-label span:hover {
    color: @dark;
    background-color: @dark-grey;
    text-shadow: none;
}


.help {
}

.help-margin-top-bottom {
    margin: 1em 0;
}

.help-margin-right-left {
    margin: 0 1em;
}

.help-visible {
    display: block;
}

.help-not-visible {
    display: none;
}

.help-plus-minus {
    margin: 0 3px;
}

.help-title {
    border-bottom: 1px solid @light-grey;
}

.pagnote {
    display: inline-block;
    font-size: 24px;
}

.is-valid {
    text-decoration: underline;
}

/* begin esri over-rides  */

.esriSimpleSlider {
    color: @light-grey !important;
    background-color: @med-blue !important;
    border: 2px solid @dark !important;
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 2px solid @dark !important;
}

.esriSimpleSliderIncrementButton:hover, .esriSimpleSliderDecrementButton:hover {
    color:  @light-grey;
    background-color: @med-blue;
}

/* end esri over-rides */

/* begin RWD stuff */
@media only screen and (min-width: 0px) and (max-width: 480px) {

    #dialog-wrapper {
        top: 0px;
        left: 0px;
        width: 100%;
    }

    #top {
        text-align: center;
    }

    .legend, .legend-loader-item, .knob-label, .msg-no, .metadata-view, #help .dialog-subdialog-content {
        font-size: 11px;
    }

    .display-logo {
        display: none;
    }

    .display-icon {
        display: inline-block;
    }

    .display-label {
        display: none;
    }

    .esriSimpleSliderTL {
        left: 0px;
        top: 0px;
        border-radius: 0px;
    }

    .esriSimpleSlider {
        color: @light-grey !important;
        background-color: @med-blue !important;
        border: 2px solid @med-blue !important;
    }

    .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
        border-bottom: 2px solid @med-blue !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    #dialog-wrapper {
        top: 0px;
        right: 0px;
        width: 320px;
    }

    .legend, .legend-loader-item, .knob-label, .msg-no, .metadata-view, #help .dialog-subdialog-content {
        font-size: 12px;
    }

    .display-logo {
        display: block;
    }

    .display-icon {
        display: none;
    }

    .display-label {
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {

    #dialog-wrapper {
        top: 0px;
        right: 0px;
        width: 320px;
    }

    .legend, .legend-loader-item, .knob-label, .msg-no, .metadata-view, #help .dialog-subdialog-content {
        font-size: 13px;
    }

    .display-logo {
        display: block;
    }

    .display-icon {
        display: none;
    }

    .display-label {
        display: inline-block;
    }
}
/* end RWD stuff */





